{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}
<h3>Login</h3>
<div class="col-md-12 col-md-offset-1" >
    <form class=""  method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" \>
      <div class="form-group" >
        {{ render_field(form.username , class='form-control' , placeholder='Escribe tu Nombre de Usuario') }}
      </div>
      <div class="form-group" >
        {{ render_field(form.password, class='form-control' , placeholder='Escribe tu contraseña') }}
      </div>
      <button class="btn btn-warning" type="submit" name="button">Login</button>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
